@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    height:100%;
    
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(222.2 84% 4.9%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
} */

  body {
    height:100%;
  }


#sidediv {
  background-color: #2f455c;
}

#side-login-button:hover {
  color: #2f455c;
}

#signup-button:hover {
  color: white;
  background-color: #2f455c;
  border-color: #2f455c;
}

#signup-button {
  color: #2f455c;
  background-color: white;
  border-color: #2f455c;
}

#side-signup-button:hover {
  color: #2f455c;
}

#text {
  font-size: 28px ;
  color: #2f455c;
}

#login-button:hover {
  color: white;
  background-color: #2f455c;;
  border-color: #2f455c;
}

#login-button {
  color: #2f455c;
  background-color: white;
  border-color: #2f455c;
}

th{
  text-align: left;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 12px;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

td{
  text-align: left;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 12px;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

table{
  width: 100%;
}

table:hover tbody tr:hover {
  color: #212529;
  background-color: #dee2e6;
}

thead {
  border-bottom: 3px solid #dee2e6;
}

#button {
  background-color: #2f455c;
}

.tablebutton {
  background-color: white;
  padding: 12px;
  color: #2f455c;
  border-radius: 8px;
  border: 2px #2f455c solid;
  font-weight: bold;
  margin: 16px;
}

.tablebutton:hover {
  background-color: #2f455c;
  color: white;
}

.filter-select {
  width:200px;
}

.filter-date{
  border:1px #2f455c solid;
  border-radius:5px;
  padding-left:8px;
  padding-right:8px;
  padding-top:5px;
  padding-bottom: 5px;
}

.status-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-green {
  background-color: green;
}

.status-red {
  background-color: red;
}

.status-orange {
  background-color: orange;
}

.MuiTreeItem-root, .MuiTreeItem-label{
  margin: 4px 0;
  padding: 2px 4px;
  color: white;
}

.add_device_input {
  width: 240px;
  padding: 4px 16px;
  border: 2px solid #0e7490;
  border-radius: 24px;
  color: #083344;
  font-size: small;
  font-weight: medium;
  box-shadow: 0 2px 4px 0px #737373;
}

.add_device_input:focus {
  outline: none;
  border: 2px solid #164e63;
}

.add_device_input:hover {
  box-shadow: 0 2px 4px 0 #262626;
  border: 2px solid  #164e63;
}